NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
WALLET_SESSION_SECRET=
NEXT_PUBLIC_WORKPROOF_CONTRACT=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_RPC=https://sepolia-rollup.arbitrum.io/rpc
NEXT_PUBLIC_ORACLE_URL=
NEXT_PUBLIC_ADMIN_WALLETS=
WEB3_STORAGE_TOKEN=
NEXT_PUBLIC_WEB3_STORAGE_TOKEN=
RESEND_API_KEY=
